.navbar-inverse .navbar-brand {
	font-family: 'Courgette', cursive;
	color: white;
}

.brand-font {
	font-family: 'Courgette', cursive;
}


tr {
	cursor: pointer;
}

.dropdown-menu a {
	cursor: pointer;
}

footer {
	padding: 1em;
	margin-top: 1.5em;
}

footer div {
	padding: 0;
	margin: 0;
}

.success {
	color: green;
}

hr {
	width: 100%;
}

.top-space {
	margin-top: 1em;
}


@media only screen and (max-width: 410px) {
	.table td {
		font-size: 0.8em;
	}
}


@media only screen and (max-width: 410px) {
	.table th {
		font-size: 0.8em;
	}
}



@media only screen and (max-width: 350px) {
	.table td {
		font-size: 0.7em;
	}
}


@media only screen and (max-width: 350px) {
	.table th {
		font-size: 0.7em;
	}
}


@media only screen and (max-width: 350px) {
	.col-sm-12 h2 {
		font-size: 1.9em;
	}
}
